//所有主题的颜色管理
$color-primary:#3388FF;
$border-color-gray:#DFE1E5;
$result-color-title:#190DAA;
$result-color-url:#006620;
$result-color-desc:#545454;
//组件相关的参数管理
$home-search-bar-height:60px;
$home-search-bar-radius:5px;
//圆角搜索组件
$round-search-bar-height:50px;
$round-search-bar-border-radius:$round-search-bar-height/2;
//通用间距
$space-normal:10px;
$space-large:20px;