<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <!-- 分析 -->
        <!-- 1.我们要监听到文本框数据的变化  这样才知道 什么时候去拼接一个 fullname -->
        <!-- 2.如何监听到文本框的数据改变呢？？？？ -->
        <input type="text" v-model="fristname" @keyup="getFullname">+
        <input type="text" v-model="lastname" @keyup="getFullname">=
        <input type="text" v-model="fullname">
    </div>
    <script src="lib/js/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                fristname: '',
                lastname: '',
                fullname: ''
            },
            methods: {
                getFullname() {
                    this.fullname = this.fristname + '-' + this.lastname;
                }
            }
        })
    </script>
</body>

</html>