$color:hotpink;
.box {
    background-color: $color;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    transition: all 0.5s ease;
    background: url(../assets/img/gtx.jpg)
}

.imgbox {
    background: url(../../static/logo.png) no-repeat center center;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}