<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <!-- 需要用到Jquery吗? -->
</head>
<body>
    <div id="app">

        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline">
                  <label>Id <input type="text" class="from-control" v-model="id"></label>
                  <label>Name <input type="text" class="from-control" v-model="name" @keyup.f2="add"></label>
                  <input type="button" value="添加" class="btn btn-primary" @click='add'>
                  <!-- 注意vue中所有的指令 在调用的时候 都以v- 开头 -->
                  <label>搜索名称关键字 <input type="text" class="from-control" v-model="keywords" id="search" v-focus v-color="'blue'"></label>
              </div>
        </div>
        
        
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Opeartion</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前 v-for 都是直接从list中直接渲染出来 现在我们定义了一个search方法 同时吧 所有关键字通过传参的形式 传递给search方法 -->
                <!-- 在search方法内部 通过执行for循环 把所有符合搜索关键字的数字保存到新的数组 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dataFormat() }}</td>
                    <td>
                        <a href="" @click.prevent='del(item.id)'>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div id="app2" >
        <p v-color="'pink'" v-fontweight= "'900'" v-fontsize="'30px'">{{dt | dataFormat}}</p>
    </div>
    <script src="lib/js/vue.js"></script>
    <script>
        //全局过滤器 进行日期格式化
        Vue.filter('dataFormat',(ctime,patern="")=>{
           
            var dt = new Date(ctime);
            //yyyy-mm-dd
            var y =dt.getFullYear();
            var m  = (dt.getMonth()+1).toString().padStart(2,"0");
            var d  = dt.getDate().toString().padStart(2,"0");

            
            if(patern  && patern.toLowerCase() === 'yyyy-mm-dd'){
                return `${y}-${m}-${d}`;
            }else{
                var hh = dt.getHours().toString().padStart(2,"0");
                var mm = dt.getMinutes().toString().padStart(2,"0");
                var ss = dt.getSeconds().toString().padStart(2,"0");
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
            }
        })
        //自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 113;


        //使用 vue.dirrective() 定义全局的指令
        //其中参数1：指令的名称  注意 在定义的时候 指令的名称前面不需要加 v-前缀 在滴啊用的时候 必须 在指令名称前加v-前缀来进行调用
        //参数2是个对象  这个对象身上 有一些指令相关的函数  这些函数可以在特定的阶段  执行相关的操作
        Vue.directive("focus",{
            bind:function(el){
                //每当指令绑定到元素上的时候 会立即执行这个 bind 函数 只执行一次
                //注意 在每个函数中 第一个参数永远是el 表示被绑定了指令的元素 这个el 参数 是一个原生的JS对象
                //在元素 刚刚绑定了指令的时候 还没有插入带DOM中 这时候调用 focus方法没有作用 因为 一个元素只有插入DOM之后才能获取焦点
                //el.focus();
            },
            inserted:function(el){
                //inserted 表示元素插入到dom中的时候 会执行inserted函数
                el.focus();
            },
            updated:function(el){
                //当vNode更新的时候 会执行 updated 可能触发多次
            }
        })

        Vue.directive("color",{
            bind:function(el,binding){
                //样式只要通过指令绑定给了元素 不管这个元素有没有插入到页面去 这个元素一定有一个内联样式
                //将来元素肯定会显示到页面中，
                if(binding.value){
                    el.style.color = binding.value;
                }else{
                    el.style.color = 'red';
                 }
                console.log(binding.value);
                console.log(binding.expression)
            }
        })

        var vm = new Vue({
            el:'#app',
            data:{
                list:[
                    {id:1,name:'奔驰',ctime: new Date() },
                    {id:2,name:'宝马',ctime: new Date() }
                  
                ],
                id:'',
                name:'',
                keywords:''

            },
            methods: {
                add(){
                   //console.log('ok'); 
                   //分析 
                   //1.获取id 和 name 直接从data中获取
                   //2.组织出一个对象
                   //3.把这个对象 调用 数组的相关方法 添加到当前data 中的 list 中
                   var car = { id:this.id,name:this.name,ctime:new Date()};
                   this.list.push(car);
                   this.id = this.name = '';

                },
                del(id){
                    //如何根据id 找到要删除的这一项的索引
                    //2.如果找到索引 直接调用数组的splice方法
                    // this.list.some((item,i)=>{
                    //     if(item.id == id){
                    //         this.list.splice(i,1);
                    //         return true;
                    //     }
                    // });


                   var index =  this.list.findIndex(item=>{
                        if(item.id == id){
                           
                            return true;
                        }
                    })
                    this.list.splice(index,1);
                },
                search(keywords){//根据关键字进行检索
                    var newList = [];
                    this.list.forEach(element => {
                        if(element.name.indexOf(keywords)!=-1){
                           // console.log(element);
                            newList.push(element)
                        }
                    });
                        
                    
                     return newList;

                    //注意 foreach some  filter findindex 都属于数组的新方法  都会对数组的每一项进行遍历 执行相关的操作
                    //ES6 为字符串提供了新方法 叫做 string.prototype.includes('要包含的字符串')
                    // return this.list.filter(item=>{
                    //    if(item.name.includes(keywords)){
                    //        return item
                    //    }
                    // })
                    
                }
            }
        })
       //如何定义一个私有的过滤器
        var vm2 = new Vue({
            el:"#app2",
            data:{
                dt:new Date()
            },
            filters:{
                //定义私有过滤 过滤器有2个条件 [过滤器名称 和 处理函数]
                dataFormat:(ctime,pattern="")=>{
                   
                    var dt = new Date(ctime);
                    //yyyy-mm-dd
                    var y =dt.getFullYear();
                    var m  = (dt.getMonth()+1).toString().padStart(2,"0");
                    var d  = dt.getDate().toString().padStart(2,"0");

                    
                    if(pattern  && patern.toLowerCase() === 'yyyy-mm-dd'){
                        return `${y}-${m}-${d}`;
                    }else{
                        var hh = dt.getHours().toString().padStart(2,"0");
                        var mm = dt.getMinutes().toString().padStart(2,"0");
                        var ss = dt.getSeconds().toString().padStart(2,"0");
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}-----`;
                    }
                }
            },directives:{
                //自定义指令
                'fontweight':{
                    bind:function(ele,a){
                        ele.style.fontWeight = a.value

                    }
                },
                'fontsize':(el,a)=>{
                    el.style.fontSize = parseInt(a.value) +'px' ;
                }
            }
        })
        //过滤器中的function第一个参数已经被规定死了 永远都是过滤器 管道符前面 传递过来的数据
        Vue.filter('过滤器的名称',(data)=>{
            return item + '123'
        })
       
    </script>
</body>
</html>

<!-- 过滤器调用时候的格式  {{name | nameope}} -->