<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>

    <div id="app" class="box">
        Hellow World
    </div>
    <div class="imgbox"></div>
    <img src="<%= require( './assets/img/gtx.jpg') %>" alt="">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555513563&di=7c4a45896a5cf561b82fffde9675c618&imgtype=jpg&er=1&src=http%3A%2F%2Fimg1.doubanio.com%2Fview%2Fphoto%2Fl%2Fpublic%2Fp1539272108.jpg" alt="">
    <!-- <img src="./assets/img/gtx.jpg" alt=""> -->
</body>


</html>